@model Url

<form asp-action="shorten" asp-controller="ShortUrls">
    <p for="basic-url" class="form-label h2">Укоротить URL</p>
    <div class="input-group mb-3">
        
        <input class ="form-control" id="basic-url" aria-describedby="basic-addon3" type="url" asp-for="Original" />
        <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Укоротить</button>
    </div>
</form>