@model Bitbucket.Models.Url

<h2>Укоротить URL</h2>
<form asp-action="shorten" asp-controller="ShortUrl">
    <p>
        <label asp-for="Original">URL</label><br />
        <input type="text" asp-for="Original" />
    </p>
    <button type="submit">Укоротить</button>
</form>