@model IEnumerable<Bitbucket.Models.Url>

<h2>Список URL</h2>
<table class="table">
    <tr><th>Оригинальный URL</th><th>Короткий URL</th></tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Original</td>
            <td>@item.Token</td>
        </tr>
    }
</table>