html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.logout{
    position: absolute;
    right: 20px;
}

.table {
    width: 100%;
    max-width: 100%;
    border-collapse: collapse;
}

.table th {
    vertical-align: middle;
    text-align: center;
}


